<%- include ('partials/header.ejs') %>
    <body>
        <%- include ('partials/navbar.ejs') %>
            <div class="container">
                <div id="final" >
                  <h1> Resposta enviada com sucesso!</h1>
                  <br>
                  <div id="botao">
                  <a href="/"> <button class=" btn btn-dark" > Responder outra Pergunta </button></a>
                </div>
                </div>
            </div>
    </body>
<%- include ('partials/script.ejs') %>